:root {
  --blue: #0461cc;
}
body {
  background: #10002c;
  padding: 2em;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  margin: auto;
  color: #eee;
}
main {
  max-width: 50em;
  margin: auto;
  margin-bottom: 3em;
}
a {
  color: var(--blue);
  text-decoration: none;
}
a:hover {
  color: orange;
}
code {
  padding: 1pt 3pt;
  border-radius: 3pt;
  font-size: 1.2em;
  background-color: #006f6f; /* darkcyan */
}
pre code {
  background-color: transparent;
}
pre {
  border-radius: 1ex;
  font-size: 0.75em;
}
a code {
  color: white;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table :is(td, th) {
  border: 1px solid gray;
  padding: 0.4em 0.8em;
}
tbody tr:nth-child(odd) {
  background: black;
}
