ci:
  autoupdate_schedule: quarterly
  skip: [eslint]

default_stages: [Nonepre-commitNone]

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: destroyed-symlinks
      - id: double-quote-string-fixer
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        args: [--write] # edit files in-place
        additional_dependencies:
          - prettier
          - prettier-plugin-svelte
          - svelte

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        stages: [Nonepre-commitNone, commit-msg]
        args: [--ignore-words-list, falsy, --check-filenames]
        exclude: changelog\.md

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.12.0
    hooks:
      - id: eslint
        types: [file]
        args: [--fix]
        files: \.(js|ts|svelte)$
        additional_dependencies:
          - 'typescript-eslint'
          - eslint
          - eslint-plugin-svelte
          - globals
          - svelte
          - typescript

  - repo: local
    hooks:
      - id: no-test-only
        name: Don't commit test selection modifiers
        entry: '(test|describe).only\('
        language: pygrep
        types: [ts]
