:root {
  --night: #10002c;
  --blue: cornflowerblue;
}
html {
  /* smoothly scroll heading links into view, unfortunately also applies to jumping
  between matches when searching site https://stackoverflow.com/a/51588820 */
  scroll-behavior: smooth;
}
body {
  background: var(--night);
  padding: calc(1ex + 2vw);
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  color: #eee;
  line-height: 1.8em;
}
/* outer div = hydration target */
body > div {
  display: flex;
  margin: auto;
  max-width: 1100px;
}
main {
  margin: auto;
  margin-bottom: 3em;
  width: 100%;
  overflow: auto;
}
* {
  scroll-margin-top: 50px;
}
a {
  color: var(--blue);
  text-decoration: none;
}
a:hover {
  color: orange;
}
code {
  overflow-wrap: break-word;
  padding: 0 2pt;
  border-radius: 2pt;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.15);
}
pre code {
  background-color: transparent;
}
pre {
  border-radius: 4pt;
  font-size: 10pt;
  background-color: rgba(0, 0, 0, 0.6);
}
a code {
  color: white;
}

div.table {
  overflow: scroll;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table :is(td, th) {
  border: 1px solid gray;
  padding: 0.4em 0.8em;
}
tbody tr:nth-child(odd) {
  background: black;
}

/* style heading anchors added by rehype-autolink-headings, see svelte.config.js */
:where(h2, h3, h4, h5, h6) a[aria-hidden='true'] {
  transition: 0.3s;
  margin-left: 4pt;
  opacity: 0;
}
:where(h2, h3, h4, h5, h6).toc-clicked {
  color: orange;
}
:where(h2, h3, h4, h5, h6):hover a[aria-hidden='true'] {
  opacity: 1;
}
