:root {
  --night: #10002c;
  --blue: cornflowerblue;

  --sms-active-color: var(--blue);
  --sms-options-bg: rgb(0, 0, 32);
  --sms-selected-bg: rgba(255, 255, 255, 0.2);
  --sms-text-color: white;
  --sms-disabled-bg: rgba(7, 1, 34, 0.87);
  --sms-li-disabled-bg: black;
  --sms-placeholder-color: lightgray;

  --toc-mobile-bg: #1c0e3e;
  --toc-mobile-btn-color: white;
  --toc-desktop-nav-margin: 0 0 0 1em;
  --toc-active-padding: 2pt 4pt;
  --toc-active-margin: 0 0 0 -4pt;

  --ghc-color: var(--night);
  --ghc-bg: white;
}
html {
  /* smoothly scroll heading links into view, unfortunately also applies to jumping
  between matches when searching site https://stackoverflow.com/a/51588820 */
  scroll-behavior: smooth;
}
body {
  background: var(--night);
  padding: calc(1ex + 2vw);
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  color: #eee;
  line-height: 1.8em;
}
/* outer div = hydration target */
body > div {
  display: flex;
  margin: auto;
  max-width: 1100px;
}
main {
  margin: auto;
  margin-bottom: 3em;
  width: 100%;
}
a {
  color: var(--blue);
  text-decoration: none;
}
a:hover {
  color: orange;
}
code {
  overflow-wrap: break-word;
  padding: 0 2pt;
  border-radius: 2pt;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.15);
}
pre code {
  background-color: transparent;
}
pre {
  border-radius: 4pt;
  font-size: 9pt;
  background-color: rgba(0, 0, 0, 0.6);
}
a code {
  color: white;
}
ul li {
  margin: 10pt 0;
}

div.table {
  overflow: scroll;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table :is(td, th) {
  border: 1px solid gray;
  padding: 0.4em 0.8em;
}
tbody tr:nth-child(odd) {
  background: black;
}

:where(h2, h3, h4, h5, h6) {
  scroll-margin-top: 50px;
  transition: 0.3s;
}
:where(h2, h3, h4, h5, h6).toc-clicked {
  color: orange;
}
/* style heading anchors added by rehype-autolink-headings, see svelte.config.js */
:where(h2, h3, h4, h5, h6) a[aria-hidden='true'] {
  transition: 0.3s;
  margin-left: 4pt;
  opacity: 0;
}
:where(h2, h3, h4, h5, h6):hover a[aria-hidden='true'] {
  opacity: 1;
}
