:root {
  --night: #0b0b1b;
  --blue: cornflowerblue;
  --text-color: #ccc;
  --main-max-width: 50em;
  --pre-bg: rgba(255, 255, 255, 0.05);
  --btn-bg: rgba(255, 255, 255, 0.15);

  --sms-active-color: rgba(255, 255, 255, 0.1);
  --sms-focus-border: 1pt solid cornflowerblue;
  --sms-options-bg: rgb(33, 31, 47);
  --sms-selected-bg: rgba(255, 255, 255, 0.2);
  --sms-text-color: white;
  --sms-disabled-bg: rgba(7, 1, 34, 0.87);
  --sms-li-disabled-bg: black;
  --sms-placeholder-color: lightgray;

  --github-corner-color: var(--night);
  --github-corner-bg: white;
  --example-margin: 1em auto;
  --example-btn-bg: none;
}
body {
  background: var(--night);
  padding: calc(1ex + 2vw);
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  color: var(--text-color);
  line-height: 1.5;
}
main {
  margin: auto;
  margin-bottom: 3em;
  width: 100%;
  max-width: var(--main-max-width);
}
button,
a.btn {
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 3pt;
  padding: 2pt 4pt;
  font-size: 12pt;
  line-height: initial;
  transition: background-color 0.2s;
  background-color: var(--btn-bg);
}
:is(button, a.btn):hover {
  color: white;
}
a {
  color: var(--blue);
  text-decoration: none;
  transition: 0.2s;
}
a:hover {
  color: orange;
}
code {
  overflow-wrap: break-word;
  padding: 0 2pt;
  border-radius: 2pt;
  font-size: 12pt;
  background-color: rgba(255, 255, 255, 0.15);
}
pre code {
  background-color: transparent;
  display: inline-block;
  font-size: 10pt;
}
pre {
  position: relative;
  border-radius: 4pt;
  background-color: var(--pre-bg);
  padding: 1em;
  overflow-x: auto;
}
ul {
  padding-left: 1em;
}
label {
  font-weight: bold;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}
table :is(td, th) {
  border: 1px dashed rgba(255, 255, 255, 0.2);
  padding: 5pt 9pt;
}
table img {
  vertical-align: middle;
}
tbody tr:nth-child(odd) {
  background: black;
}

h1 {
  display: flex;
  font-size: clamp(2rem, 2rem + 2vw, 3rem);
  place-items: center;
  place-content: center;
  margin: 1.2em 0;
}

:where(h2, h3, h4, h5, h6) {
  scroll-margin-top: 50px;
  transition: 0.3s;
}
:where(h2, h3, h4, h5, h6).toc-clicked {
  color: orange;
}
/* style heading anchors added by rehype-autolink-headings, see svelte.config.js */
:where(h2, h3, h4, h5, h6) a[aria-hidden='true'] {
  transition: 0.3s;
  margin-left: 4pt;
  opacity: 0;
}
:where(h2, h3, h4, h5, h6):hover a[aria-hidden='true'] {
  opacity: 1;
}

blockquote {
  border-left: 3pt solid var(--blue);
  padding: 4pt 2pt 4pt 9pt;
  margin: 1em auto;
  background-color: rgba(255, 255, 255, 0.1);
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote p:first-child {
  margin-top: 0;
}
div.multiselect.invalid {
  border: 1px solid red !important;
}

/* target reusable icons like <svg><use href="#icon-info"></use></svg> */
svg:has(use:only-child) {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}
